.border_gradient {
  padding: 2px;
}
.border_gradient:hover {
  background: linear-gradient(to bottom, #37ED81, #00A3FF);
}
.border_gradient:hover > .border_removal {
  border-color: #12131300 !important;
}
