.border_gradient:hover {
  background: linear-gradient(to right, #00a3ff, #3da5bd, #905bec);
}
.border_gradient:hover > .border_removal {
  border-color: #12131300 !important;
}
.nav_hidden{
  display : inline-block ;
}
.nav_show{
  display : none ;
}

@media only screen and (max-width: 1133px) {
  .nav_hidden{
    display : none!important ;
  }
  .nav_show{
    display : block!important ;
  }
}